html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 100%;
  background: #eee; }

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.responsive {
  max-width: 100%;
  height: auto; }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 0; }

.items {
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #272727; }
